* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "poppins";
}

.head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 20px;
  text-align: left;
  .nav {
    display: none;
    width: 100%;
    // padding: 0px;
    background-color: white;
    flex-direction: column;
    a {
      color: #2d1d60;
      text-decoration: none;
      padding: 10px 0;
    }
    a:hover {
      background-color: aliceblue;
      border-radius: 10px;
    }

    .btn {
      padding: 10px 20px;
      font-size: 20px;
      border-radius: 10px;
      background-color: #7853f1;
      color: #f4f2ff;
      width: 40%;
      // padding-left: 65%;
    }
  }
}

.unlimited {
  // text-align: center;
  padding: 40px 0;
  background-color: #e5deff9e;

  h1 {
    font-size: 32px;
    color: #2d1d60;
  }

  p {
    font-size: 18px;
    padding: 20px 15px;
    color: #2d1d60;
  }
  .btn1 {
    padding: 20px 90px;
    background-color: #7853f1;
    color: #ffffff;
    border-radius: 10px;
    // margin: 30px;
  }
}
.automate {
  padding: 10px 20px;

  img {
    width: 270px;
    padding: 20px 0;
  }
  background-image: url('/img/Vector\ 2.svg');
  background-repeat: no-repeat;
  background-position-x: left;
  background-color: rgba(244, 242, 255, 0.6);

  color: #2d1d60;

  h4 {
    font-size: 20px;
    // margin: 0;
    padding: 20px 0;
    // text-align: center;
    // width: 300px;
    // height: 90px;
  }
  p {
    padding: 0 10px;
  }
}

.ability {
  h4 {
    font-size: 20px;
    padding: 20px 0;
    color: #2d1d60;
  }
  background-image: url('/img/Vector\ 2.svg');
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: rgba(244, 242, 255, 0.6);
  p {
    padding: 0 30px;
    color: #2d1d6080;
  }
  .grid {
    .tings {
      width: 120px;
    }

    .box {
      display: flex;
      justify-content: space-between;
      padding: 30px 40px;
    }
    .drive {
      display: flex;
      justify-content: space-between;
      padding: 10px 40px;
    }
    .facebook {
      display: flex;
      justify-content: space-between;
      padding: 15px 60px;
    }
    .gram {
      display: flex;
      justify-content: space-between;
      padding: 15px 60px;
    }
  }
  .flex {
    display: none;
  }
}
.track {
  background-image: url('/img/Vector\ 2.svg');
  background-color: rgba(244, 242, 255, 0.6);
  h4 {
    font-size: 20px;
    padding: 20px;
    color: #2d1d60;
  }
  p {
    padding: 0 15px;
    color: #2d1d6080;
  }
  .excel {
    width: 290px;
    padding: 30px 0;
  }
}
.easy {
  background-color: #c4c4c433;
  padding: 30px 10px;
  h2 {
    font-size: 25px;
    color: #2d1d60;
    padding: 0;
  }

  p {
    font-size: 18px;
    padding: 10px 0;
    color: #2d1d6080;
  }
  .cert {
    width: 300px;
    padding: 20px 0;
  }
  .btn2 {
    padding: 20px 70px;
    background-color: #7853f1;
    color: #ffffff;
    border-radius: 10px;
    margin: 40px 0;
  }
  .btn3 {
    display: none;
  }
}
.inter {
  background-color: #7853f1cc;

  h2 {
    font-size: 25px;
    color: #efebff;
    padding: 20px 40px;
  }

  p {
    font-size: 20px;
    padding: 0 40px;
    color: #efebff;
  }
  .btn4 {
    padding: 20px 80px;
    background-color: #7853f1;
    color: #ffffff;
    border-radius: 10px;
    margin: 40px 0;
    font-size: 20px;
    border: #efebff solid;
  }
  .sheets {
    width: 300px;
  }
}
.price {
  h2 {
    padding-top: 50px;
    color: #2d1d60;
  }
  h4 {
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid #020202;
  }
  p {
    padding: 0 60px;
    padding-top: 20px;
  }
  h5 {
    font-size: 20px;
    padding: 20px 0;
    color: #02020280;
  }
  .basic {
    text-align: left;
    border: solid #7853f1 2px;
    border-radius: 10px;
    padding: 30px 10px;
    margin: 0 30px;
    line-height: 32px;
    color: #020202;

    img {
      padding: 0 20px;
    }
  }
  .btn5 {
    padding: 10px 120px;
    background-color: #ffffff;
    color: #0ee99c;
    border-radius: 10px;
    margin: 30px 0;
    font-size: 20px;
    border: #7853f1 solid;
  }
  .btn6 {
    padding: 10px 105px;
    background-color: #7853f1;
    color: #ffffff;
    border-radius: 10px;
    margin: 30px 0;
    font-size: 20px;
  }
}
.ask {
  .down {
    width: 4%;
    color: #000000;
  }
  h2 {
    padding: 20px 50px;
    color: #2d1d60;
    border-top: 1px solid rgba(45, 29, 96, 0.3);
  }
  img {
    width: 2%;
    color: #000000;
  }
  .app {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    text-align: left;
    background-color: #ffffff;
    margin: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  }
  .apps {
    background-color: #ffffff;
    margin: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);

    .appz {
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
      text-align: left;
      color: #bbbbbb;
    }
  }
  p {
    padding: 10px 30px;
    text-align: left;
  }
  color: #2d1d60;
  .like {
    font-size: 25px;
    padding: 50px;

    .btn7 {
      padding: 10px 80px;
      background-color: #ffffff;
      color: #7853f1;
      border-radius: 10px;
      margin: 30px 0;
      font-size: 20px;
      border: #7853f1 solid;
    }
  }
}

footer {
  background-color: #9375f4;
  color: #ffffff;
  font-size: 15px;

  a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-size: 15px;
    padding: 20px;
  }
  .comp {
    padding: 10px;
  }
  .contact {
    padding: 10px;

    .spa {
      padding: 20px;
    }
  }
  .logo {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .atc {
    padding: 20px;
  }
  .end {
    border-top: 1px solid #ffffff;
    padding: 30px 0;
  }
}

@media only screen and (min-width: 1000px) {
  // .head {
  //   display: flex;
  //   padding: 20px;
  //   margin: 0px;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 20px 70px;
  //   flex-wrap: nowrap;

  //   .nav {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     padding: 0 20px;
  //     color: #2d1d60;
  //     font-size: 20px;
  //   }
  //   a {
  //     padding: 10px 20px;
  //     //   text-decoration: none;
  //     padding: 0px;
  //     margin-left: 0px;
  //   }
  //   .btn {
  //     padding: 10px 20px;
  //     font-size: 20px;
  //     border-radius: 10px;
  //     background-color: #7853f1;
  //     color: #f4f2ff;
  //     margin-left: 0;
  //     width: auto;
  //   }

  //   #hamburg {
  //     display: none;
  //   }
  // }
  .head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 20px;
    padding: 20px 40px;
    #hamburg {
      display: none;
    }
    .nav {
      display: inline-flex;
      justify-content: right;
      flex-direction: row;
      padding: 0 20px;

      a {
        padding: 10px 20px;
      }
      

      .btn {
        // margin: 0;
        width: 10%;
        padding: 0;
      }
      .btn:hover {
        background-color: grey;
      }
    }
  }
  .unlimited {
    // background-image: url("/img/Rectangle\ 12\ \(1\).png");
    // background-repeat: no-repeat;
    // background-position-x: right;
    background-image: url("/img/Rectangle\ 13\ \(1\).svg");
    background-position-x: left;
    height: 600px;
    h1 {
      // border: red solid;
      font-size: 50px;
      //   width: 50%;
      line-height: 80px;
      //   margin: 40px 25%;
      padding: 20px 50px;
      // border: red solid;
      margin: 0 400px;
    }
    p {
      font-size: 30px;
      //   border: solid red;
      padding: 20px 160px;
      //   width: 37%;
      line-height: 45px;
      margin: 0 280px;
    }
    .btn1 {
      font-size: 25px;
      margin: 20px 0;
    }
  }

  .automate {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;

    img {
      width: 500px;
    }
    h4 {
      font-size: 30px;
      width: 540px;
      text-align: left;
    }
    p {
      width: 545px;
      font-size: 20px;
      text-align: left;
    }
  }

  .ability {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;

    h4 {
      font-size: 30px;
      width: 540px;
      text-align: left;
    }
    p {
      width: 545px;
      padding: 0px;
      font-size: 20px;
      text-align: left;
    }
    .grid {
      display: none;
    }
    .flex {
      display: block;

      .drive1 {
        display: flex;
        justify-content: space-between;
      }
      .logo {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        .tho {
          padding: 20px;
          width: 50%;
        }
      }
      .linked {
        display: flex;
        justify-content: space-between;

        .tha {
          padding: 20px;
          width: 50%;
        }
      }
    }
  }
  .track {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;

    .excel {
      width: auto;
    }
    h4 {
      font-size: 30px;
      width: 540px;
      text-align: left;
    }
    p {
      width: 545px;
      font-size: 20px;
      text-align: left;
    }
  }
  .easy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
    .cert {
      width: auto;
    }
    .btn2 {
      display: none;
    }
    .fast {
      text-align: left;
      .btn3 {
        display: block;
        padding: 20px 80px;
        background-color: #7853f1;
        color: #ffffff;
        border-radius: 10px;
        font-size: 20px;
      }
      p {
        padding: 40px 0;
        width: 400px;
        font-size: 20px;
      }
      h2 {
        font-size: 40px;
      }
    }
  }
  .inter {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
    text-align: left;

    h2 {
      padding: 0;
      width: 400px;
    }
    p {
      padding: 0;
      width: 350px;
      margin: 20px 0;
    }

    .sheets {
      width: auto;
    }
  }
  .price {
    h2 {
      font-size: 35px;
    }
    h5 {
      font-size: 25px;
    }
    .prof {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }
  }
  .ask {
    h2 {
      padding: 40px;
    }
    img {
      width: 4%;
    }
    .app {
      padding: 30px;
    }
    .apps {
      p {
        display: none;
      }
      .appz {
        color: #2d1d60;
        padding: 40px 30px;
        .down {
          transform: rotate(-90deg);
          width: 7%;
        }
      }
    }
    .grod {
      display: grid;
      grid-template-columns: 550px 500px;
      grid-template-rows: 150px 150px 150px;
      margin-left: 250px;
      grid-gap: 30px;
    }
  }
  footer {
    .grad {
      display: grid;
      grid-template-columns: 500px 500px 500px;
      grid-template-rows: auto;
      padding: 30px 80px;
      text-align: left;
      align-items: baseline;
      //   grid-column-gap: 400px;
      // margin-left: 400px;
    }
    .end {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 60px;

      .logo {
        padding: 0;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 30px;
      }
    }
  }
}
